// Variables matching your Waybar theme
$bg-color: rgba(17, 17, 27, 0.75);
$fg-color: #abb2bf;
$hover-color: #ffffff;
$font-main: "FiraCode Nerd Font", sans-serif;

* {
    all: unset;
}

.bar-container {
    background: transparent;
    font-family: $font-main;
}

.clock-module {
    background-color: $bg-color;
    color: $fg-color;
    border-radius: 15px;
    transition: all 0.25s cubic-bezier(.55,-0.68,.48,1.68);

    &:hover {
        color: $hover-color;
        background-color: rgba(30, 30, 46, 0.85);
    }

    .clock-day {
        font-size: 15px;
        padding: 4px 4px 4px 15px;
    }

    .clock-divider {
        font-size: 15px;
        padding: 4px 4px 4px 4px;
    }

    .clock-time {
        font-size: 15px;
        font-weight: bold;
        padding: 4px 15px 4px 4px;
    }
}