* {
    border: none;   
    font-family: "FiraCode Nerd Font", sans-serif;
    font-size: 15px;
}

window#waybar {
    background: rgba(17, 17, 27, 0);
    color: #abb7cf;
}


/* ----- UNIFIED PILL STYLE FOR MODULES ----- */

/* Mini breathing room between text and border */
label {
    padding: 0 5px;
}


/* Pill style */
.modules-left,
.modules-center,
.modules-right
{
    margin-top: 10px;
}


/* The center and right modules will represent their children */
.modules-center,
.modules-right
{
    background-color: rgba(17, 17, 27, 0.75);
    border-radius: 12px;
    padding: 0 10px;
}


/* Left module will be represented by its children */
.modules-left { background: transparent; margin-left: 20px; }


/* Minimal separation between visual pills */
.modules-right { margin-right: 20px; }



/* ----- UNIFIED WIDGET STYLE ----- */
.modules-left widget > *,
.modules-center widget > *,
.modules-right widget > *
{
    color: #abb2bf;
    border: none;
    padding: 0px 12px;
    transition: all 0.3s ease;
}



/* ----- UNIFIED HOVER EFFECT (EXCEPT WS) ----- */
.modules-left > widget > *:hover,
.modules-center > widget > *:hover,
.modules-right > widget > *:hover {
    color: #ffffff;
}



/* ----- INDEPENDENT WIDGET STYLE ----- */

/* --- Fix hardware drawer double background --- */
#cpu, #memory, #temperature, #custom-hardware
{
    /* min-width: 30px; */
    background: transparent;
}

/* --- Battery status color --- */
#battery.charging { color: #98c379; }
#battery.warning:not(.charging) { color: #e5c07b; }
#battery.critical:not(.charging) { color: #e06c75; }


/* --- Make power option stand out when hovering --- */
#custom-poweroff:hover { color: #e06c75; }
#custom-reboot:hover { color: #e5c07b; }
#custom-logout:hover { color: #98c379; }


/* --- Distance between tray icons --- */
#tray {
    margin-right: 8px;
    margin-left: 8px;
}


/* --- Left module widgets --- */
.modules-left widget > * { background-color: rgba(17, 17, 27, 0.75); }


/* --- Rounded borders --- */
#custom-arch { border-top-left-radius: 12px; border-bottom-left-radius: 12px; }
#custom-steam { border-top-right-radius: 12px; border-bottom-right-radius: 12px; }


/* --- Workspaces --- */

#workspaces
{
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 3px 3px;
}

#workspaces:hover {
    background-color: rgba(17, 17, 27, 0.75);
}

#workspaces button {
    color: transparent;
    background-color: rgba(220,224,232, 0.5);
    border-radius: 12px;

    margin: 0 4px;

    min-height: 0;

    padding: 0;
}

#workspaces button:first-child {
    margin-left: 0;
}

#workspaces button:last-child {
    margin-right: 0;
}

#workspaces button:hover {
    background: rgba(17, 17, 27, 0.2);
    color: #ffffff;
}

#workspaces button.active {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #dce0e8;
    color: #212121;
}
